@charset "UTF-8";
/**
 *
 * @authors a Rogala
 * @date    2018-05-10 17:41:21
 * @version 1.0
 */

/*responsive  css @media below*/
/*NAV*/
/*hide nav checkbox and button*/
	.nav__checkbox {
		display: none;
	}

	.nav__button {
		display: none;
	}

/*force mobil design on all screens it was 800px*/
@media screen and (max-width: 80000px) {

	.nav {
		padding: 0em 0 0em 0;
		position: relative;
	}

	/*position the button and checkbox relative
	to the nav parent container and display button*/
	.nav__button {
		display: initial;
		position: absolute;
		top: .5em;
		right: 1em;
	}

	.nav__button:hover {
		cursor: pointer;
	}

	.nav__checkbox {
		position: absolute;
		top: 1em;
		right: 1em;
	}

	/*hide nav list*/
	.nav__list  {
		z-index: 10;
		background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
		position: absolute;
		top: .5em;
		left: 0;
		width: 150px;

	    /* This trasform moves the list off canvas. */
	    -webkit-transform: translate(-150px, 0);
	    transform: translate(-150px, 0);
	    /* animate the list*/
	    transition: transform 0.3s ease;
	}

	/*when checkbox checked unhide/translate list*/
	.nav__checkbox:checked ~ .nav__list {
		-webkit-transform: translate(0, 0);
    	transform: translate(0, 0);
	}

	.nav__item {
		display: list-item;

	}
}

/*END NAV*/

@media screen and (max-width: 800px) {

	.deck {
		width: 90vw;
		height: auto;
		padding: 10px;
	}

	.deck .card {
		margin: 1.5%;
	}
}

@media screen and (max-width: 655px) {

	h1 {
		margin: 5px;
	}

	.deck {
		width: 100vw;
		height: auto;
		padding: 10px;
	}

	.deck .card {
		height: 110px;
		width: 110px;
		margin: 1.5%;
	}
}


@media screen and (max-width: 530px) {

	h1 {
		margin: 5px;
	}

	.deck {
		width: 100vw;
		height: auto;
		padding: 10px;
	}

	.deck .card {
		height: 90px;
		width: 90px;
		margin: 1.5%;
	}
}

@media screen and (max-width: 430px) {

	h1 {
		margin: 5px;
	}

	.deck {
		width: 100vw;
		height: auto;
		padding: 10px;
	}

	.deck .card {
		height: 70px;
		width: 70px;
		margin: 1.5%;
	}
}

@media screen and (max-width: 340px) {

	body {
		font-size: 16px;
	}

	h1 {
		margin: 5px;
	}

	.deck {
		width: 100vw;
		height: auto;
		padding: 10px;
	}

	.deck .card {
		height: 55px;
		width: 55px;
		margin: 1.5%;
	}
}










